body {
  background-size: cover;
  font-family: "Trebuchet MS", sans-serif;
}

.contact {
  margin-top: 150px;
}

.container {
  display: inline-block;
}
.typed-out {
  overflow: hidden;
  border-right: 0.15em solid white;
  white-space: nowrap;
  animation: typing 2s forwards;
  font-size: 1.6rem;
  width: 0;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.contact {
  padding: 5px 30px;
}
.social_icons {
  padding-top: 5px;
}

.social_icons img {
  padding: 1px 2px;
  width: 35px;
  height: 40px;
}

.content {
  display: flex;
  margin-top: 60px;
  padding: 20px 10px;
  box-shadow: 5px black;
  border-radius: 40%;
}

.right_img img {
  width: 20rem;
  height: 14rem;
  padding: 2px 5px;
}

img#big {
  width: 30rem;
}

@media (min-width: 0px) and (max-width: 667px) {
  .content {
    flex-direction: column;
    margin-top: -25px;
  }

  .right_img {
    margin-top: 15px;
  }
  .right_img img {
    width: 9rem;
    height: 6rem;
    padding: 5px 5px;
  }

  img#big {
    width: 12rem;
  }
}
